<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>
<hr>
<div class="container-fluid">
  <div class="card">
    <div class="card-header d-inline-flex justify-content-between">
      <h2>Categorias</h2>
      <a class="btn btn-success" href="/admin/categories/new">Criar Categoria</a>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category => { %>
            <tr>
              <th><%= category.id %></th>
              <th><%= category.title %></th>
              <th><%= category.slug %></th>
              <th>
                <button class="btn btn-warning">Editar</button>
                <form method="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event, this)">
                  <input type="hidden" name="id" value="<%= category.id %>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
              </th>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
</div>
<%- include ("../../partials/footer.ejs") %>
<script>
  function confirmDelete(event, form) {
    event.preventDefault();
    var decision = confirm("Você quer Deletar a Categoria?");
    if (decision){
      form.submit();
    }
  }
</script>